.formDetailsPanel {
  :global(.ms-Panel-content) {
    padding: 24px;
  }
}

.formContent {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid var(--neutral-stroke-accessible-rest);
  border-radius: 4px;
  padding: 16px;
  background-color: var(--neutral-background-1);
}
